* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #101010;
}

body {
  background-color: #101010;
  padding: 0;
  margin: 0;
}

header {
  background-color: #f5ba13;
  margin: 0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}




.notes-grid {
  column-width: 240px;
  column-gap: 8px;
  padding: 8px 0px;
  width: auto;
  max-width: 1200px;
  margin: 8px 12px;
  flex: 1;
}

.note {
  background: #202020;
  border: solid 0.5px #4f4f4f;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.note h1 {
  font-size: 1.25em;
  margin-bottom: 6px;
  color: #ebebeb;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.note p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #ebebeb;
}

.note button {
  position: relative;
  float: right;
  border-radius: 6px;
  color: #ff3838;
  background-color: #303030;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 90%;
  max-width: 480px;
  margin: 24px auto;
  background: #202020;
  padding: 12px;
  border-radius: 8px;
}

form.create-note input {
  width: 100%;
  border: none;
  color: #ebebeb;
  background-color: #202020;
  padding: 4px;
  outline: none;
  font-size: 1.25em;
  font-weight: bold;
  font-family: inherit;
  resize: none;
}

form.create-note textarea {
  width: 100%;
  border: none;
  color: #ebebeb;
  background-color: #202020;
  padding: 4px;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: rgb(255, 189, 9);
  color: #503b00;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

button:disabled {
  background-color: #c4c4c4 !important;
  cursor: not-allowed !important;
  pointer-events: all !important;
}


.footer-container {
  background-color: #101010;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #202020;
  position: relative;
  margin-top: auto;
}

.footer-container p {
  color: #ccc;
  margin: 0;
}